/* Login.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* Espacement entre le texte et le bouton */
.redirect {
    text-align: center;
    margin-top: 20px; /* Espacement entre le bouton et le texte */
    font-size: 1rem;
    color: black; /* Texte noir */
}

/* Changer la couleur du texte des liens en noir */
.link {
    color: black; /* Texte noir */
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.logout-button {
    padding: 10px 20px;
    background-color: #ff4d4d; /* Couleur rouge */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #ff1a1a; /* Couleur plus foncée au survol */
}